<h1 class="cyan-text">New Role Model</h1>
<% if params[:partner_form] == "true" %> 
    <%= render 'partner', influencer: @influencer %>
<% else %> 
    <%= render 'form', influencer: @influencer %>
<% end %> 

<%= link_to 'Back', influencers_path %>

<style>
     h1 {
        font-weight: 800;
        text-transform: uppercase;
        margin: 5%;
    }
</style>