    <div id="Academia" class="col s6 modal">
        <%= render 'partials/academia' %>
    </div>

    <div id="Arts">
         <%= render 'partials/arts' %>
    </div>

    <div id="Advertising">
        <%= render 'partials/advertising' %>
    </div>

    <div id="Business">
        <%= render 'partials/business' %>
    </div>

    <div id="Entreprenuership">
        <%= render 'partials/entrepreneurship' %>
    </div>

    <div id="Finance">
        <%= render 'partials/finance' %>
    </div>

    <div id="Entertainment">
      <%= render 'partials/entertainment' %>
    </div>

    <div id="Government" class="col s12">
      <%= render 'partials/government' %>
    </div>

    <div id="SocialImpact">
      <%= render 'partials/socialimpact' %>
    </div>

    <div id="Tech">
      <%= render 'partials/tech' %>
    </div>

    <div id="Philanthropy">
      <%= render 'partials/philanthropy' %>
    </div>

    <div id="Talent">
      <%= render 'partials/talent' %>
    </div>