
<!-- THREE OPPORTUNITIES --> 
     <% @tips_job.each do |tip| %>
     <% if tip.industry == @vision.industry || tip.industry == nil || tip.industry == "All" %> 

    <div class="card horizontal" style="">
            <div class="card-content teal-text">
              <h6 class=" teal-text" style="font-size: 1.8em"><%= tip.title %> </h6>
              <p style="color:grey" > <%= tip.body %></p>
              <p> <%= link_to tip.link %></p>
          </div>
          </div> 
      <% end %>
 <% end %> 

<style>
    a{
        color: grey;
    }
    a:hover{
        color: grey;
    }
</style>
