<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOC</title>

    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Materialize Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- FONTS --> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../../assets/css/style.css">

     <!-- VENDOR SCRIPTS -->
     <!-- jquery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js"></script>
     <!-- handlebars -->
     <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script> -->

     <!-- APPLICATION SCRIPTS -->
     <script src="../../assets//javascripts/scripts/data.js"></script>
     <script src="../../assets/javascripts/scripts/app.js"></script>
     <!-- CSS  -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <link href="../../assets/stylesheets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="../../assets/stylesheets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  
  
    <h2 id="core-head"> LIVE THE DREAM </h2>


  
      
       <%= link_to "GET STARTED", new_vision_path, :class => "white-text btn waves-effect waves-light", :id => "firstbutton" %> </button>
      
      <div style="height: 20em"> </div>
  

    <!-- <div id="department-list" class="department-container">
      <script id="department-list-template" type="text/x-handlebars-template">
        <div class="container">

          {{#each department}}
          <div class="row">
            <div class="col l6 center">
              <div class="card" id="{{name}}-department">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/department/{{name}}.jpeg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{name}}<i class="material-icons right">more_vert</i></span> -->
                  <!-- <p><a href="">{{name}}</a></p> -->
                <!-- </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </script>
    </div> -->




    

     <!--  Scripts-->
     <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script src="../../assets/javascripts/scripts/materialize.js"></script>
     <script src="../../assets/javascripts/scripts/materialize.min.js"></script>
     <script src="../../assets/javascripts/scripts/init.js"></script>
     <script scr="../../assets/javascripts/scripts/app.js"></script>
     <script src="../../assets/javascripts/scripts/data.js"></script>
     </body>
</html>


<style>
  body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/coverpic3_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: Montserrat;
	}
	

.core-menu{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
}

.core-bloc{
    background-color: white;
    font-size: 4.5em;
    font-family: Montserrat;
    font-weight: bold;
    height: 5em;
    opacity: .8;
    padding: 15% 10%;
}

#core-head{
    color: white;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 1.2;
    top: 5%;
    font-size: 5em;
    padding: 15%;
}

core-bloc ul {
    height: 5em;
}

.core-bloc:hover {
    background-color: grey;
}
  
  ul  {
    color:black;
    line-height: 1.2;
  }
  
  #firstbutton{
    position: relative;
    left: 10%;
    margin-top: 30%;
    width: 80%;
    color: white;
    height: 4em;
    font-size: 6em;
    line-height: 1.2;
    border-radius: 3%;
  }
  
  
  @media only screen and (max-device-width: 480px){
    html{
        font-size: 4em;
        line-height: 5em;
    }
    #core-head{
      font-size: 6em;
      font-weight: 800;
    }
    #firstbutton {
      position: absolute;
      padding: 10% 1% 1% 1%;
      bottom: 10%;
    }
  
  
</style>