<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/>
     
  </head>
  <body>
    <img src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/1_9_orig.png"> 
    <h5>Hi <%= @user.firstname %>,</h5>
    <p>
      Thanks for signing up to test our our career playlist. We are working to connect a <span>national community of black millennials with each other & premium career resources</span>, and we are excited to have you in the community. 
    </p>
    
    <p> 
    Each week we'll send you a <span>new playlist, with new opportunities, grad school application advice and tips</span> we think can help you get & hold on to your dream career. The more feedback you send us, the better your results, so please make sure to fill out the feedback at the bottom of your playlists. 
    </p>
    
    <p> 
    As an extra incentive, we'll enter you to <span> free Spotify Premium for 6 months </span> when you send us your thoughts. We'll also be offering an annual subscription to the 3 people who refer the most friends to test our playlist, you can find your personal share code below.
    </p>
    

    <div class="share"> 
  
      <h6> Forward to a friend and win :  jointhebloc.com/<%=@user.profileurl %>  </h6>
    </div>
    
    <p> unsubscribe from email updates anytime by replying "Unsubscribe" to this email </p>
  </body>
</html>

<style>
  body{
    position:absolute;
    width: 50%;
    left: 25%;
  }
  h5{
    font-family: Raleway;
    font-size: 2em;
  }
 
  p {
    font-family: Lato;
  }
  img{
  width: 100%;
  }
  span{
    color: #44d9e6;
    font-weight: 800;
  }
  
  .share{
    background-color: #44d9e6;
    padding: 2%;
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: Raleway;
    margin: 5% 0;
  }
  .share a{
    color: white;
  }
</style>
