<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/aileron" type="text/css"/>
     
  </head>
  <body style="width:100%;  font-family: Lato; ">
    <div style="padding: 5%"> 
      <img style="width: 100%" src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/1_9_orig.png"> 
      <i class="fa fa-plug fa-5x cyan-text lighten-1"> </i>

      <h5  style="font-family: Raleway;font-size: 2em;">Hey hey<%= @user.firstname.capitalize %>,</h5>
      <p>
        Thanks for signing up!
      </p>
      
      <p> 
        We'll be sending you personalized career playlists <span style="color:#44d9e6">, 
        with relevant opportunities and career tips</span> we think can help you get and/or hold on to your dream career. 
        We want to see you win, so don't hesistate to reach out with any questions, feedback, concerns!
      </p>
      
      <p> Be confident, be great </p>
      
      <p>Bloc , your digital career coach </p>
      <img src="http://gph.is/2ecLAcu" > 
      
  
    
      
      <p> unsubscribe from email updates anytime by replying "Unsubscribe" to this email </p>
    </div>
  </body>
</html>
