
<!-- THREE OPPORTUNITIES --> 
     <% @tips.each do |tip| %>

        
             <div class="card horizontal" style="width:100%">
                <!--
                <div class="card-image" style="width: 10%">
                    <img src="http://www.ourbloc.co/uploads/2/4/0/1/24014742/coverpic_orig.jpg">
                  </div>
                  -->
            <div class="card-content teal-text">
              <h6 class="grey-text" style="font-size: 1.2em"><%= link_to tip.title, tip_path(tip) %> </h6>
          </div>
      <% end %>
 

<style>
    a{
        color: grey;
    }
    a:hover{
        color: grey;
    }
</style>