<nav class="white">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo white-text">Bloc</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
</nav>

<div class="row"> 
    <div class="col s12 l3"> 
        <div class="menu"> 
            <div class="col s12 logo"> 
                <br>
                <img src="/img/morehouselogo.jpg">     
            </div>
            
            <div> 
                <a class="menu_button col s12" style="padding: .5em"> Career Advice  </a>
                <a class="menu_button col s12" style="padding: .5em"> Grad School Advice </a>
                <a class="menu_button col s12" style="padding: .5em"> Success Stories </a>
                <a class="menu_button col s12" style="padding: .5em"> Opportunities </a>
            </div>
        </div>
    </div>
    
    <div class="col s12 l9 "> 
        <div class="morehousebg"></div> 
        <div class=""> 
            <img class="carousel-item" src="http://www.morehouse.edu/media/morehouse2015/styleassets/images/commencement-2015.jpg"> 
        </div>
        <div>
            <h1 id="register"> get personalized career advice in your inbox </h1> 
            <div class="auth_buttons"> 
                <%= link_to  "SIGN ME UP", new_user_registration_path , class: "waves-effect white btn-large grey-text" %>
                <button class="waves-effect white btn-large grey-text"> sign up </button> 
            </div>
        <div> 
    </div>
    
   
  </div>
  
  <script>
        $('.carousel.carousel-slider').carousel({fullWidth: true});
  </script>
</div>