<!-- 
<nav>
    <div class="nav-wrapper white  text-black">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>-->
<div class="screen_width col s6 l3"> 
<div class="jobs_header" > 
  <h1> DREAM JOBS BELOW </h1>
  <h2> BLACK MILLENNIALS ON THE RISE</h2>
  <h6> career advice for us, by us </h6>
</div>
</div> 

<div class="jobs_board row">
  <% @jobs.each do |job| %>
   <% if (@color_count % 2) == 0 %> 
            <div class="card horizontal col s12 " style="background-color: inherit" >
        <% else %> 
            <div class="card horizontal col s12" style="background-color: #2eb2ff" >
        <% end %> 
          <div class="card-content white-text">
                <div class="hide_card">
                    <h4 id="job_title"><%= link_to job.title.upcase, job_path(job) %></h4>
                    <h5 id="job_company"><%= job.company %></h5>
                 </div>
        </div>
      </div>
  <% @color_count += 1 %> 
  <% end %>
 
</div>
</div>
 <script> 
     $(".jobs_header").click(function(){
      $(this).hide();
       $('html,body').animate({
            scrollTop: $(".jobs_board").offset().top},
            'slow');
      });
      
      $(window).scroll(function(){
        $(".jobs_header").hide(100); 
            
      })
    </script> 
    

<style> 
          
           body {
            	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/jobs-board-2_orig.png") no-repeat center center fixed;
            	margin: 0 auto;
            	background-size: cover;
            	width: 100%;
            	font-family: Raleway;
            	}
            	
          .screen_width{
            position: fixed;
            width: 50%;
            left: 50%;
            height: 100%;
          }
          
          .jobs_board{
            position: absolute;
            top: 30%;
            width: 40%;
            left: 10%;
          }
          
          #job_title a:hover {
            background-color: inherit;
            color: gray;
          }
          
           #job_title a {
          color: white;
          }
          
          h1, h2, h6 {
            font-family: Raleway ;
          }
          
          h1, h2{
            background-color: #44d9e6 ;
          }
          
          .jobs_header h1{
            display: none;
            position: absolute;
            width: 80%;
            left: 10%;
            height: 15%;
            top: 60%;
            padding: 3% 5%;
          }
          
          .jobs_header h2{
            display:none;
            position: absolute;
            width: 60%;
            left: 10%;
            top: 90%;
            font-size: 2em ;
            padding: 1% 5%;
          }
          
            .jobs_header h6{
            position: absolute;
            left: 20%;
            width: 100%;
            bottom: 10%;
            font-size: 3em ;
          
          }
          
          .jobs_header{
            color: white;
            font-family: Raleway;
            
          }
       
          .card  {
              width: 100%;
              height: 20em;
              font-family: Raleway;
              margin: 0;
          }
          .card-content{
              width: 100%;
          }
          a {
              line-height: 1em;
          }
          
          a:hover{
              color: teal ;
          }
          
          #job_title{
              font-size: 1.5em;
              padding-top: 10%;
              width: 100%;
              color:white;
              text-align: center;
              font-size: 3em;
          }
          
          #job_company{
                  position:absolute;
                  width: 100%;
                  color: white;
                  bottom: 7%;
                  font-family: Raleway;
                  left: 0;
                  font-size: 1.2em;
                  text-align: center;
                  text-transform: uppercase;
              }
       
          
          @media only screen and (max-device-width: 480px){
           body,html {
             width: 100%;
             height: 100%;
           }
            body {
            	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/jobs-board-2_orig.png") no-repeat fixed;
            	margin: 0 auto;
            	background-size: 110% 120%;
            	width: 100%;
            	height:100%;
            	font-family: Raleway;
            	}
            	
            	
            .screen_width{
            position: fixed;
            width: 100%;

          }
          
          .jobs_header h1{
            display: inline;
            position: fixed;
            width: 80%;
            left: 10%;
            top: 60%;
            padding: 10% 10%;
          }
         
          
          .jobs_header:hover{
            background-color: gray;
          }
          
            .jobs_header h6{
            position: fixed;
            left: 25%;
            width: 60%;
            bottom: 5%;
            font-size: 3em ;
          
          }
            	.jobs_board{
            	  position: absolute;
            	  width: 108%;
            	  margin: 120% 0% 0% 0%;
            	  padding-top: 80%;
            	  left: 0;
            	}
            
            	
              .show_card {
                  background-color: inherit;
                  position:relative;
                  margin: -15% 0% 0% -20%;
                  height: 30em;
                  padding: 15% 10% 10% 20%;
                  color: white;
                  font-size: 1em;
                  font-family: Raleway;
                  text-transform: lowercase;
              }
              
              .show_card p {
                  width: 120%;
                  height: 60%;
              }
              #job_title{
                  font-family: Raleway;
                  left:0%;
                  font-size: 2.8em;
                  position:absolute;
                  top: 10%;
                  margin: 0% 2% ;
                  text-align: center;
                  width: 100%;
              }
              
              #job_title a{
                color:white;
              }
              #job_company{
                  position:absolute;
                  color:white;
                  bottom: 7%;
                  font-family: Raleway;
                  font-size: 2em;
                  width: 100%;
                  text-align: center;
                  text-transform: uppercase;
              }
            
              .indeed_more{
                width: 5%;
                position: absolute;
                bottom: 10%;
                left: 0%;
                color: white;
              }
              .card{
                  width: 100%;
                  position:relative;
                  margin-left: 0%;
                  padding: 5% 0%;
                  height: 40em;
                  margin:0;
              }
          }
          </style> 
   