<!-- 
<nav>
    <div class="nav-wrapper white  text-black">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>-->
<div class="jobs_header" > 
  <h1> DREAM JOBS BELOW </h1>
  <h2> BLACK MILLENNIALS ON THE RISE</h2>
  <h6> career advice for us, by us </h6>
</div>


<div class="jobs_board row">
  <% @jobs.each do |job| %>
   <% if (@color_count/ 2 % 2) != 0 %> 
            <div class="card horizontal col s6 l3" style="background-color: inherit" >
        <% else %> 
            <div class="card horizontal col s6 l3" style="background-color: #2eb2ff" >
        <% end %> 
          <div class="card-content white-text">
                <div class="hide_card">
                    <h4 id="job_title"><%= link_to job.title.upcase, job.link %></h4>
                    <h5 id="job_company"><%= job.company %></h5>
                 </div>
        </div>
      </div>
  <% @color_count += 1 %> 
  <% end %>
 
</div>


 <script> 
     $(".jobs_header").click(function(){
      $(this).hide();
       $('html,body').animate({
            scrollTop: $(".jobs_board").offset().top},
            'slow');
      });
    </script> 
    

<style> 
          
           body {
            	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/jobs-board-2_orig.png") no-repeat center center fixed;
            	margin: 0 auto;
            	background-size: cover;
            	width: 100%;
            	height:100%;
            	font-family: Raleway;
            	}
            	
          h1, h2, h6 {
            font-family: Raleway ;
          }
          
          h1, h2{
            background-color: #44d9e6 ;
          }
          
          .jobs_header h1{
            position: absolute;
            width: 80%;
            left: 10%;
            top: 40%;
            padding: 3% 5%;
          }
          
          .jobs_header h2{
            position: absolute;
            width: 60%;
            left: 10%;
            top: 50%;
            font-size: 2em ;
            padding: 1% 5%;
          }
          
            .jobs_header h6{
            position: absolute;
            left: 25%;
            width: 60%;
            bottom: 0%;
            font-size: 3em ;
          
          }
          
          .jobs_header{
            color: white;
            font-family: Raleway;
            
          }
          
            	
          .indeed_more{
              font-family: Raleway Heavy;
              border: 1px solid grey;
              margin: 1% -5% 1% 90%;
              padding: 1%;
              
          }
          .indeed_more:hover{
              background-color: grey;
              color:black;
          }
          .card  {
              width: 100%;
              height: 20em;
              font-family: Raleway;
          }
          .card-content{
              width: 100%;
          }
          a {
              line-height: 1em;
          }
          
          a:hover{
              color: teal ;
          }
          
          #job_title{
              font-size: 1.5em;
              width: 110%;
              left: -10%;
              color:white;
          }
          
          #job_company{
                  position:absolute;
                  color: white;
                  bottom: 5%;
                  font-family: Raleway;
                  font-size: 1em;
                  text-align: center;
                  text-transform: uppercase;
              }
       
          
          @media only screen and (max-device-width: 480px){
           
            	
            	.jobs_board{
            	  position: relative;
            	  width: 100%;
            	  margin-top: 200%;
            	}
            	
              .show_card {
                  background-color: inherit;
                  position:relative;
                  margin: -15% 0% 0% -20%;
                  height: 30em;
                  padding: 30% 10% 10% 20%;
                  color: white;
                  font-size: 1em;
                  font-family: Raleway;
                  text-transform: lowercase;
              }
              
              .show_card p {
                  width: 120%;
                  height: 60%;
              }
              #job_title{
                  font-family: Raleway;
                  left:0%;
                  font-size: 3em;
                  position:absolute;
                  top: 25%;
                  margin: 2%;
                  text-align: center;
                  width: 100%;
              }
              
              #job_title a{
                color:white;
              }
              #job_company{
                  position:absolute;
                  color:white;
                  bottom: 5%;
                  font-family: Raleway;
                  font-size: 2em;
                  text-align: center;
                  text-transform: uppercase;
              }
            
              .indeed_more{
                width: 5%;
                position: absolute;
                bottom: 10%;
                left: 0%;
                color: white;
              }
              .card{
                  width: 100%;
                  position:relative;
                  margin-left: 0%;
                  padding: 10% 0%;
                  height: 30em;
                  margin:0;
              }
          }
          </style> 
   