<h1 class="cyan-text">Create New Opportunity </h1>



<%= render 'form', job: @job %>

<%= link_to 'Back', jobs_path %>

<style>
    body{ padding: 5%;
    }
        
    h1 {
        font-weight: 800;
        text-transform: uppercase;
        margin: 5%;
    }
</style>