
    <footer class="page-footer black">
      <div class="container">
        <div class="row">
          <div class="col m3 s12">
            <h6 class="white-text">Contact</h6>
          </div>
          <div class="col m3 s12">
            <h6 class="white-text">About</h6>
          </div>
          <div class="col m6 s12">
            <h6 class="white-text">Empowering Black Students</h6>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Our Bloc <span class="white-text text-lighten-3"> Materialize 2016</span>
        </div>
      </div>
    </footer>
