<div class="container">
  <div class="row">

    <div class="col s12">
      <ul class="tabs" class="scrollable">
        <li class="tab col s3"><a class="active" href="#Academia">Academia</a></li>
        <li class="tab col s3"><a href="#Arts">Arts</a></li>
        <li class="tab col s3"><a href="#Advertising">Advertising</a></li>
        <li class="tab col s3"><a href="#Business">Business</a></li>
        <li class="tab col s3"><a href="#Entreprenuership">Entreprenuership</a></li>
        <li class="tab col s3"><a href="#Finance">Finance</a></li>
        <li class="tab col s3"><a href="#Entertainment">Entertainment</a></li>
        <li class="tab col s3"><a href="#Government">Government</a></li>
        <li class="tab col s3"><a href="#Social Impact">Social Impact</a></li>
        <li class="tab col s3"><a href="#Tech">Tech</a></li>
        <li class="tab col s3"><a href="#Philanthropy">Philanthropy</a></li>
        <li class="tab col s3"><a href="#Talent">Talent</a></li>
      </ul>
    </div><br><br>

    <div id="Academia" class="col s6">
      <% render 'partials/academia'%>
    </div>

    <div id="Arts" class="col s12">Arts</div>
    <div id="Advertising" class="col s12">Advertising</div>
    <div id="Business" class="col s12">Business</div>
    <div id="Entreprenuership" class="col s12">Entreprenuership</div>
    <div id="Finance" class="col s12">Finance</div>
    <div id="Entertainment" class="col s12">Entertainment</div>
    <div id="Government" class="col s12">Government</div>
    <div id="SocialImpact" class="col s12">Social Impact</div>
    <div id="Tech" class="col s12">Tech</div>
    <div id="Philanthropy" class="col s12">Philanthropy</div>
    <div id="Talent" class="col s12">Talent</div>
</div>
</div>
