<!DOCTYPE html>
<html>
  <head>
    <title>Bloc </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <!-- FONTS -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     
      <!-- Add Font awesome -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"> 

</head>

    <%= yield %>
  </body>
</html>


<script>

</script>
