<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOC</title>
     <!-- STYLESHEETS -->
     <link rel="stylesheet" href="../../assets/css/style.css">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">  </head>

  </head>


  <body>

    

    <%= render '/partials/tabs' %>

    <%= render '/partials/footer' %>


    
  </body>
</html>


<style>
  html{
    height: 100%;
  }
  
  #bottomnav {
    background-color: white;
  }
</style>