<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOC</title>
     <!-- STYLESHEETS -->
     <link rel="stylesheet" href="../../assets/css/style.css">
  </head>


  <body>

    <%= render '/partials/header' %>

    <%= render '/partials/tabs' %>

    <%= render '/partials/footer' %>

    <nav> 
    
    </nav>
  </body>
</html>


<style>
  html{
    height: 100%;
  }
  
  nav{
    background-color: white;
  }
</style>