
    
     <%  @indeed_results.each do |job| %>
           <div>
                    <h4 id="job_title" class=""><%= link_to job.job_title.upcase , job.url  , :class => "cyan-text lighten-1" ,:id => "job_title"%></h4>
                    <h5 id="job_company" class="grey-text"><%= job.company %></h5>
                    <br>
        </div>
              
         
    <% end %> 
                
                    
               
    
         
        
        

    
        
          <style> 
          
      
          
          #job_title{
              width: 80%;
              margin-left: 7%;
              text-align: center;
          }
          
          #job_company{
                  color: grey;
                  bottom: 5%;
                  font-family: Raleway;
                  font-size: 1em;
                  text-align: center;
                  text-transform: uppercase;
                  width: 100%;
              }
              
              p{
                  text-align: center;
                  color: grey;
                  font-size: .8em;
              }
       
          
          @media only screen and (max-device-width: 480px){
             
              
              #tip_p {
                  font-size: .5em;
              }
              #job_title{
                  width: 90%;
                  left: -5%;
                  text-align: center;
                  font-family: Montserrat;
                  left:0%;
                  font-size: 1.5em;
                  top: 15%;
                  margin: 2%;
                  text-align: center;
                  width: 100%;
              }
              #job_company{
                  color:white;
                  bottom: 5%;
                  font-family: Raleway;
                  font-size: .7em;
                  text-align: center;
                  text-transform: uppercase;
              }
              
            
              
        
              
          }
          
          </style>
          
         