
<!-- THREE OPPORTUNITIES --> 
<%if @tips != nil %>
    <% @tips.each do |tip| %>
           <div>
                <h4 id="job_title" class=""><%= link_to tip.title.upcase , tip.link  , :class => "cyan-text lighten-1" %></h4>
                <p id="" class="grey-text"><%= tip.body %></h5>
                <br>
            </div>
    <% end %> 
<% else %> 
    <% @grad_tips.each do |tip| %>
           <div>
                <h4 id="job_title" class=""><%= link_to tip.title.upcase , tip.link  , :class => "cyan-text lighten-1" %></h4>
                <p id="" class="grey-text"><%= tip.body %></h5>
                <br>
            </div>
    <% end %> 
    
    
<% end %>
    

<style>
    a{
        color: grey;
    }
    a:hover{
        color: grey;
    }
    p {
        font-size: 1.5em;
    }
    #tip_image {
        margin-top: 0%;
        width: 100%;
    }
    
    .tip_card {
        margin: 10em 0;
        background-color: #44d9e6;
        padding-bottom: 5%;
    }
    
    .tip_card h6{
        font-family: Montserrat;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
        margin: 5% 0%;
        padding: 5%;
    }
    
    .tip_card h6 a {
        color:white;
    }
</style>