
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= link_to "REGISTER TO ATTEND", new_rsvp_path(:event_name => "Bloc Conference", :role => "Student"), class: "conference_button waves-effect cyan btn white-text lighten-1",
                                    style:"margin-top: .5em, margin-bottom: 2em" %>
                                </div>
                                
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= link_to "PROMOTE YOUR CAUSE", new_rsvp_path(:event_name => "Bloc Conference", :role => "Community Org"), class: "conference_button waves-effect cyan btn white-text lighten-1",
                                    style:"margin-top: .5em, margin-bottom: 2em" %>
                                </div>
                                
                                <div class="col l4 s12" style="padding: 2%">
                                    <%= submit_tag("PITCH YOUR STARTUP", class: "conference_button waves-effect cyan btn white-text lighten-1",
                                    style:"margin-top: .5em, margin-bottom: 2em" ) %>
                                </div>
                       