<section id="events" class=" text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading cyan-text lighten-1"> Build the Bloc</h2>
                    <h5> November 3rd & 4th </h5>
                    <h5> Join us in Atlanta for our upcoming conference uniting black millennials committed to personal, professional & political achievement.<h5> 
                    <h5> We're celebrating, strategizing and getting to work...<h5>
                    
                    <img src="https://media.giphy.com/media/PM6DVBkDaKMCY/giphy.gif" style="width: 40%; margin: 5%">
                    <br> 
                    
                    
                   
                </div>
            </div>
        </div>
    </section>