<body> 



<div class="row">
  
    <div id="title"> bloc. </div>
    
      <h6 id="beta" style=""> beta</h6>
          <p id="fubu" style=""> career advice for us, by us.</p>
          

          <div id="whatyouget">
            <h1> IT'S NOT TOO LATE TO LAND YOUR DREAM INTERNSHIP</h1>
              </div>
              
  <div class="col m6 s12" id="background-filter">
    
        
  </div>
              
              <h5 class="loginform" id="third_p"> Get 10 internship recommendations & pro tips that are perfect for you, and land your summer opportunity</h5>

      
 



  </div>
</div>

        <div>
        <%= link_to "GET YOUR CAREER PLAYLIST", user_facebook_omniauth_authorize_path, :id => "submitFB" %> 
       </div>
</body>


<style>

body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/home-view-1_orig.png") no-repeat center center fixed;
	background-size: 60% 140%;
	background-position: 0%;
	width: 100%;
	height:100%;
	font-family: Montserrat;
	}
p{
  font-family: Montserrat;
}

h1{
  font-family: Montserrat;
  margin-top: 20%;
}
h5{
  font-size: 1.2em;
  padding: 2% 10%;
  margin-left: 10%;
}
#first_field{
  padding-top: 20%;
}
#title{
  position: absolute; 
  left: 5%; 
  font-size: 2em; 
  top: 5%; 
  color:white;
  opacity: 1;
  z-index: 10;
}

#beta{
  color:red; 
  position:absolute; 
  left: 10%;
  top: 5%; 
  font-weight: 800;
}
	
#start_button{
  background-color: inherit;
  border: 5% solid white;
  width: 70%;
  height: 15%;
}
#start_button:hover{
  background-color: grey;
}
	
#page_header{
  position: absolute;
  font-size: 8em;
  top:30% ;
  left: 10%;
  width: 100%;
  color: white;
  font-family: Montserrat;
}
#background-filter{
  z-index: 0;
  position: absolute;
  background-color:black;
  opacity: .85;
  width: 60%;
  height: 100%;
}
#submitFB{
  position: fixed;
  background: #3b5998;
  color:white;
  border: 4px solid grey;
  top: 65%;
  font-size: 1.8em;
  width: 30%;
  height: 10%;
  padding: 1.5% 2%;
  left: 65%;
}
	
#formhead {
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 5em;
  color: black;
  font-weight: strong;
  
}
.loginform{
  position: absolute;
  height: 20%;
  width: 50%;
  top: 35%;
  left: 45%;
  background-color: inherit;
  font-family: "AileronThin";
  font-size: 2em;

}
.loginform h5{
  font-family: "AileronThin";
  text-transform: lowercase;
  font-size: 1.5em;
}



.fieldtext{
  line-height: 1.2;
  font-size: 1em;
}

.field{
  padding: 0% 15%;
}

input.fieldtext{
  font-size: 1em;
  color: white;
}

#whatyouget{
  position:absolute;
  font-size: 4em;
  width: 40%;
  color: #44d9e6;
  top: 20%;
  left: 15%;
  z-index: 10;
}

#whatyouget h1{
  font-family: Raleway;
  line-height: .8;
}

#fubu{
  position: absolute; 
  top: 0%; 
  left: 40%; 
  font-size: 1em; 
  width: 40%; 
  font-family: Montserrat; 
  color:white;
  z-index: 10;
}




@media only screen and (max-device-width: 480px){
    html,body{
        font-size: 2em;
        height: 100%;
        width: 100%;
    }
    
    body {
    	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/home-view-1_orig.png") no-repeat center center fixed;
    	margin: 0 auto;
    	background-size: cover;
    	width: 100%;
    	height:100%;
    	font-family: Raleway;
	}
	
	#third_p{
	  display: none;
	}
	
    #title{
      position:absolute;
      top: 37%; 
      left: 30%;
      margin: 0 auto;
      font-family: Montserrat;
      color: #44d9e6;
      font-weight: 800;
    }
    #whatyouget{
      display:none;
      position:fixed;
      width: 100%;
      color:white;
      top: 20%;
      left: 5%;
    }
    
    #background-filter{
    display: none;
    position: fixed;
    background-color:black;
    padding: 5%;
    opacity: .2;
    width: 100%;
    height: 100%;
  }
  
  #submitFB {
    position: fixed;
    background: #3b5998;
    font-family: Montserrat;
    font-size: .8em;
    border: 5px solid white;
    padding: 7% 5%;
    width: 90%;
    color:white;
    top: 65%;
    left: 5%;
  }
  #submitFB:hover {
    background-color: grey;
  }
  
  #fubu{
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
    font-size: .8em;
    color: white;
    line-height: .5em;
  }
  
  #login_form{
    display:none;
  }
  
  #beta {
    position: absolute;
    margin-left: 0%;
    color: white;
    z-index: 10;
    opacity: 1; 
    top:36%;
    left: 20% ;
  }
}
</style>

<script>

   $('#submitFB').click(function(){
   
  });
  

 
  
 
  
  
</script>
