<div class="grey-text center-align"> 
<h4> Thanks for registering <% if user_signed_in? %> <%= current_user.name.split.first.capitalize %> <%end%>  , see you in November! </h4>
<h5> Be on the look out for an email confirmation and our some prep resources. </h5>
</div>


