// Place all the styles related to the visions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar{
    position:fixed;
    height: 100%;
    width: 20%;
}