
<!-- PERSONALITY RESULT --> 
     
     
<!-- TEN influencerS --> 
  <div id="stories"></div>
  <%= render 'university/partials/search_success' %> 
    <% if @influencers != nil %> 
        <%  @influencers.each do |influencer| %>
            <% if current_user.industry == influencer.industry or (current_user.industry == tip.industry and current_user.style == tip.style)%> 

            <div class="card horizontal col s12 l4" >
            <div class="card-content grey-text">
                    <h4 id="tip_title"><%= link_to influencer.name.upcase , influencer_path(influencer.id) , class: "grey-text" %></h4>
                    <h5 id="tip_company"><%= influencer.description %></h5>
                    <h5 id="tip_company"><%= influencer.industry %></h5>
            </div>
                
            </div>
            </div>
        <% end %>
    <% end %> 
    <% end %> 
