<div class="menu"> 
            <div class="col s12 logo"> 
                <br>
                <img id= "logo" src="http://cdn.herosports.com/upload/morehouse-logo.png">     
            </div>
            
            <div> 
                <a class="menu_button col s12" href="#tips" style= "padding: .5em"> Career Advice</a>
                <a class="menu_button col s12" href="#tips_grad" style= "padding: .5em"> Grad School Advice</a>
                <a class="menu_button col s12" href="#stories" style= "padding: .5em"> Success Stories</a>
                <a class="menu_button col s12" href="#jobs" style= "padding: .5em"> Opportunities</a>

            
            </div>
            
            <div class="favorities"> 
                <% if @tips_liked != nil %>
                <% @tips_liked.each do |fave| %> 
                    <%= fave.title %> 
                <% end %> 
                <% end %> 
                
            </div>
        </div>