// Place all the styles related to the Rsvps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conference_button {
    width: 100%;
}
.new_rsvp_side {
    background-color: #4dd0e1;
    height: 140em;
}
.stripe-button-el {
    display: none;
}
.student_header{
    color: white;
  
    margin: 5% 5% 0% 5%;
    position: fixed;
    width: 40%;
    text-align: center;
}
.student_header p {
     font-family: Montserrat;
     font-size: 1em;

}
.student_header h4{
    text-transform: uppercase;
}
.new_rsvp .btn {
    margin: 2% .5%;
    width: 26%;
    font-size: .8em;
}
.new_rsvp .field {
    width: 110%;
    margin: 5% 5%;
}

.input_field {
    height: 20%;
}

@media only screen and (max-device-width: 480px){
    .student_header{
    font-size: 2.1em;
    width: 100%;
    
    }
    
    .student_header h4{
        font-size: 2.5em;
    }
    
    .student_header h5 {
        margin-top: 1em;
        font-size: 2.2em;
    }
    

}