body {
  background-color: #fff;
  color: #333;
  font-family: Montserrat, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

}

p, ol, ul, td {
  font-family: Montserrat, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.btn .btn-large {

}
.job_index_card {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #4dd0e1;
    padding: 2%;
    margin: 0%;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 50%;
    left: 25%;
}


.job_company {
  margin-top: 0%;
  padding-top: 0%;
   margin-bottom: 0%;
  padding-bottom: 0%;
}

.job_menu_button{
  display: block;
    background-color: white;
    border: 3px solid #4dd0e1;
    margin: 2% 5% 2% 10%;
    position: relative;
    height: 3em;
    text-align: center;
    text-transform:uppercase;
    color: #4dd0e1;

}

.job_search{
  position: relative;
  left:0%;
  width: 100%;
  padding: 3% 10%;
}

@media print{
    
    body, h5, p, h6 {
        -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
        font-family: "Times New Roman" !important;
        text-align: center;
    }
    ul{
        list-style-type: circle;
        margin: -.1%;
    }
    body{
        padding: 7%;
    } 
    p {
        font-size: 11px;
        margin: .5%;
    }
    
    h5, h6 {
        text-transform: uppercase;
        font-weight: strong ; 
        text-align: center;
    }
    h6{ 
        font-size: 14px;
    }
    h5{ 
        margin-top: 5%;
        size: 25px;
    }
    .row{
        padding: 0;
        margin: 0;
    }

    
    .education_header{ 
        width: 100%;
        border-bottom: 1px solid black;
  }
} 