// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    padding:5%;
}

.tip_show{
    position: fixed;
    width: 100%;
   text-align: center ;
   font-family: Montserrat;
}

h4{
    font-size: 3em;
}
.tip_title {
    padding-top: 5%;
}