<body> 

<script>

</script>

<div class="row">
    <div id="title"> BLOC </div>
  <div class="col m6 s12" id="background-filter">
    
          <h6 id="beta" style=""> beta</h6>
          <p id="fubu" style=""> career advice for us, by us.</p>
          

          <div id="whatyouget">
            <h1> get your seat at the table</h1>
              </div>
  </div>
              
  <div class="loginform col s10  offset-s1 m4 push-m7" style="background-color:inherit; height: 100%" id="login_form">
              <h5 id="third_p"> sign up for a weekly playlist of the hottest internships, career resources & connections curated by black millennials 
         who are committed to helping you get to the top.</h5>
     </div>
     
      
 



  </div>
</div>

        <div>
        <%= link_to "SIGN UP WITH FACEBOOK", user_facebook_omniauth_authorize_path, :id => "submitFB" %> 
       </div>
</body>


<style>

body {
	background: url("http://www.ourbloc.co/uploads/2/4/0/1/24014742/blackwomen_orig.jpg") no-repeat center center fixed;
	margin: 0 auto;
	background-size: cover;
	width: 100%;
	height:100%;
	font-family: Montserrat;
	}
p{
  font-family: Montserrat;
}

h1{
  font-family: Montserrat;
  margin-top: 20%;
}
h5{
  font-size: 1.2em;
  padding: 2% 10%;
  margin-left: 10%;
}
#first_field{
  padding-top: 20%;
}
#title{
  position: absolute; 
  left: 5%; 
  font-size: 2em; 
  top: 5%; 
  color:white;
  opacity: 1;
  z-index: 5;
}

#beta{
  color:red; 
  position:absolute; 
  left: 14%;
  top: 5%; 
  font-weight: 800;
}
	
#start_button{
  background-color: inherit;
  border: 5% solid white;
  width: 70%;
  height: 15%;
}
#start_button:hover{
  background-color: grey;
}
	
#page_header{
  position: absolute;
  font-size: 8em;
  top:30% ;
  left: 10%;
  width: 100%;
  color: white;
  font-family: Montserrat;
}
#background-filter{
  position: absolute;
  background-color:black;
  opacity: .85;
  width: 60%;
  height: 100%;
}
#submitFB{
  position: fixed;
  background: #3b5998;
  color:white;
  border: 4px solid grey;
  top: 60%;
  font-size: 2em;
  width: 30%;
  height: 10%;
  padding: 1.5% 2%;
  left: 65%;
}
	
#formhead {
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 5em;
  color: black;
  font-weight: strong;
  
}

.loginform {
  position: absolute;
  margin-top:20%;
  margin-left: 20%;
  height: 100%;
  font-family: Work Sans;
  font-weight: strong;
}



.fieldtext{
  line-height: 1.2;
  font-size: 1em;
}

.field{
  padding: 0% 15%;
}

input.fieldtext{
  font-size: 1em;
  color: white;
}

#whatyouget{
  position:absolute;
  color:white;
  top: 20%;
  left: 5%;
  font-family: Roboto;
}

#fubu{
  position: absolute; 
  top: 0%; 
  left: 70%; 
  font-size: 1em; 
  width: 40%; 
  font-family: Montserrat; 
  color:white
}


@media only screen and (max-device-width: 480px){
    html,body{
        font-size: 2em;
        height: 100%;
        width: 100%;
    }
    
    #whatyouget{
      display:none;
      position:fixed;
      width: 100%;
      color:white;
      top: 20%;
      left: 5%;
    }
    
    #background-filter{
    position: absolute;
    background-color:black;
    padding: 5%;
    opacity: .6;
    width: 200%;
    height: 200%;
  }
  
  #submitFB {
    position: fixed;
    background: #3b5998;
    font-family: Montserrat;
    padding: 7% 4%;
    color:white;
    width: 90%;
    top: 65%;
    margin: 5%;
  }
  #submitFB:hover {
    background-color: grey;
  }
  
  #fubu{
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
    font-size: .8em;
    color: white;
    line-height: .5em;
  }
  
  #login_form{
    display:none;
  }
  
  #beta {
    position: absolute;
    margin-left: 10%;
    top:8%;
  }
}
</style>

<script>

   $('#submitFB').click(function(){
   
  });
  

 
  
 
  
  
</script>